.container {
    width: 448px;
    display: flex;
    flex-direction: column;
}

.date {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    color: #767676;

    margin-top: 15px;
}

.heading {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #000000;

    margin-top: 10px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 20px;
}

.button-wrapper img {
    -webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}

.button-wrapper img:hover {
    cursor: pointer;
    scale: 1.06;
}