<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
        .post {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #ce3757;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
            transition: 0.3s ease;
        }
        nav a:hover {
            color:rgb(110, 27, 170);
            font-size: 56px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">FlaskApp</a>
        <a href="/create">Create</a>
        <a href="/edit">Edit</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>