{% extends 'base.html' %}

{% block content %}
    <div class='blog-container'>
        <div class='blog-heading-wrapper'>
            <div class='blog-date'>{{posts['created']}}</div>
            <div class='blog-heading'>{{posts['title']}}</div>
            <div class='blog-date'>{{posts['author']}}</div>
        </div>
        <div class='blog-content'>
            {{posts['content']}}
        </div>
        <div class='blog-line'></div>
        <div class='blog-button-wrapper'>
            <a href="edit/{{posts['id']}}">
                <img src='/static/edit-button.svg' class="edit-button" />
            </a>
            <a href="/">
                <img src='/static/delete-button.svg' class="delete-button" />
            </a>
        </div>
    </div>
{% endblock %} 