{% extends 'base.html' %}

{% block content %}
<div class="create-container">
    <div class='heading-img-wrapper'>
        <img src="/static/create-heading.svg">
    </div>
    <div class="form" method="post">
        <div class="input-field">
            <label for="title">Title</label>
            <input type="text" name="title"
               value="">
               </input>
        </div>
        <div class="input-field">
            <label for="author">Author</label>
            <input type="text" name="author"
               value="">
               </input>
        </div>
        <div class="input-area">
            <label for="content">Content</label>
            <textarea name="content" rows="15" cols="60" value=""></textarea>
        </div>
        <div class="assets">
            <label for="image">Assets
                <img src="/static/upload-button.svg">
            </label>
            <input type="file" id="image" hidden>
            
        </div>
        
        <button type="submit" class="btn"><img src="/static/submit-button.svg" class="submit-btn" type="submit"></button>
    </div>
</div>
{% endblock %} 