{% extends 'base.html' %}
<!-- edit page for blog -->
{% block content %}
<div class="create-container">
    <div class='heading-img-wrapper'>
        <img src="/static/edit-heading.svg">
    </div>
    <form class="form" method="post">
        <div class="input-field">
            <label for="title">Title</label>
            <input type="text" name="title"
               value="{{post['title']}}" />
        </div>
        <div class="input-field">
            <label for="author">Author</label>
            <input type="text" name="author"
               value="{{post['author']}}" />
        </div>
        <div class="input-area">
            <label for="content">Content</label>
            <textarea name="content" rows="15" cols="60" value="">{{post['content']}}</textarea>
        </div>
        <button type="submit" class="edit-page-btn"><img src="/static/submit-button.svg" class="submit-btn" type="submit"></button>
    </form>
</div>
{% endblock %} 