{% extends 'base.html' %}
<!-- contains all the posts -->
{% block content %}
<div class="index-container">
    <div class='heading-img-wrapper'>
        <img src="/static/blog-heading.svg">
    </div>
    <div  class='grid-layout'>
        {% for post in posts %} <!-- loop through the posts -->
            {% if loop.index == posts|length %}
                <div class='card-container' style="background-color: red;">
                    <div class='date'>{{ post['created'] }}</div>
                    <a href='/blog/{{post['id']}}'>
                        <div class='heading'>{{loop.index}}. {{ post['title'] }}</div>
                    </a>
                    <div class='card-button-wrapper'>
                        <a href='/blog/{{post['id']}}'>
                            <img src='/static/read-further-btn.svg'>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class='card-container'>
                    <div class='date'>{{ post['created'] }}</div>
                    <a href='/blog/{{post['id']}}'>
                        <div class='heading'>{{loop.index}}. {{ post['title'] }}</div>
                    </a>
                    <div class='card-button-wrapper'>
                        <a href='/blog/{{post['id']}}'>
                            <img src='/static/read-further-btn.svg'>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}