{% extends 'base.html' %}
{% block content %}
<div class="index-container">
    <div class='heading-img-wrapper'>
        <img src="/static/blog-heading.svg">
    </div>
    <div  class='grid-layout'>
        {% for post in posts %}
        <div class='card-container'>
            <div class='date'>{{ post['created'] }}</div>
            <a href='/blog/{{loop.index}}'>
                <div class='heading'>{{ post['title'] }}</div>
            </a>
            <div class='card-button-wrapper'>
                <a href='/blog/{{loop.index}}'>
                    <img src='/static/read-further-btn.svg'>
                </a>
                <a>
                    <img src='/static/share-btn.svg' name="{{post['id']}}" onclick="copyText(name)">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        function copyText(id) {
            navigator.clipboard.writeText("http://127.0.0.1:5000/blog/" + id);
        }
    </script>
</div>
{% endblock %}