{% extends 'base.html' %}
{% block content %}
<div class="index-container">
    <div class='heading-img-wrapper'>
        <img src="/static/blog-heading.svg">
    </div>
    <div  class='grid-layout'>
        {% for post in posts %}
        <div class='card-container'>
            <div class='date'>{{ post['created'] }}</div>
            <a href='/blog/{{post['id']}}'>
                <div class='heading'>{{ post['title'] }}</div>
            </a>
            <div class='card-button-wrapper'>
                <a href='/blog/{{post['id']}}'>
                    <img src='/static/read-further-btn.svg'>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}