html,
body {
	padding: 0;
	margin: 0;
	background-color: #F5F5F5;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}


html::-webkit-scrollbar {
	display: none;
}
  
html {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}